<header class="cf site-header" role="banner">
  <h1 class="site-title">
    <a class="link skin-gradient" href="{{ site.baseurl }}/">raina shannon</a>
  </h1>

  <nav class="site-nav">
    <a class="nav-link link{% if page.url != '/about/' %} link-active {% endif %}" href="{{ site.baseurl }}/">portfolio</a>
    <a class="nav-link link{% if page.url == '/about/' %} link-active {% endif %}" href="{{ site.baseurl }}/about">about</a>
    <a class="nav-link link" href="#" >r&#233;sum&#233;</a>
  </nav>
</header>
