<header class="o-container c-header">
  <a class="c-header__skip" href="#main">skip to content</a>

  <h1 class="c-header__title">
    <a class="c-header__link" href="{{ site.baseurl }}/">raina shannon</a>
  </h1>

  <button class="c-header__toggle js-menu-toggle" href="#">menu</button>

  <nav class="c-header__nav js-menu">
    <a class="c-header__link c-header__link--nav link{% if page.url != '/about' %} c-header__link--active {% endif %}" href="{{ site.baseurl }}/">portfolio</a>
    <a class="c-header__link c-header__link--nav link{% if page.url == '/about' %} c-header__link--active {% endif %}" href="{{ site.baseurl }}/about">about</a>
    <a class="c-header__link c-header__link--nav link" href="{{ site.baseurl }}/images/Raina-Shannon_CV.pdf" target="_blank" >r&#233;sum&#233;</a>
  </nav>
</header>
