<div class="c-social">
  <a class="c-social__link" href="https://www.instagram.com/laceedges/" target="_blank">
    <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
    <span class="sr-only">Instagram</span>
  </a>
  <a class="c-social__link" href="mailto:raina.d.shannon@gmail.com">
    <i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i>
    <span class="sr-only">Email raina.d.shannon@gmail.com</span>
  </a>
  <a class="c-social__link" href="https://www.linkedin.com/in/raina-shannon-48063351" target="_blank">
    <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
    <span class="sr-only">Linkedin</span>
  </a>
</div>