.o-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.o-grid > .o-grid__item {
  flex: 1;
  flex-grow: 4;
  padding-left: 1%;
  padding-right: 1%;

  &:first-child {
    margin-left: -1%;
  }

  &:last-child {
    margin-right: -1%;
  }
}

.o-grid--post {
  margin-bottom: 2%;
}

@media #{$about-content-grid} {
  .o-grid--about,
  .o-grid--post {
    display: block;
  }

  .o-grid--about > .o-grid__item,
  .o-grid--post > .o-grid__item {
    padding-left: 0;
    padding-right: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.o-grid__item--order-1 {
  order: 1;
  margin-left: -1%;
  margin-right: initial !important;
}

.o-grid__item--order-2 {
  order: 2;
  margin-left: initial !important;
  margin-right: -1%;
}

.o-grid-masonry {
  max-width: ms(9);
}

.o-grid-masonry__sizer,
.o-grid-masonry__item {
  width: 100%;

  @media #{$o-grid-masonry__item\@medium} {
    width: 49%;
  }
}

.o-grid-masonry__gutter-sizer {
  width: 0%;

  @media #{$o-grid-masonry__item\@medium} {
    width: 2%;
  }
}

.o-grid-masonry__item {
  float: left;
  margin-bottom: 2%;
}