.o-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.o-grid > .o-grid__item {
  flex: 1;
  flex-grow: 4;
  padding-left: 1rem;
  padding-right: 1rem;

  &:first-child {
    margin-left: -1rem;
  }

  &:last-child {
    margin-right: -1rem;
  }

  &.column--light {
    flex-grow: 2;
  }

  &.column--heavy {
    flex-grow: 8;
  }
}

@media #{$about-content-grid} {
  .o-grid--about {
    display: block;
  }

  .o-grid--about > .o-grid__item {
    padding-left: 0;
    padding-right: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.o-grid-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 70%; // here the desired aspect ratio

  & img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.o-grid-masonry {
  max-width: ms(9);
}

.o-grid-masonry__sizer,
.o-grid-masonry__item {
  width: 100%;

  @media #{$o-grid-masonry__item\@medium} {
    width: 49%;
  }
}

.o-grid-masonry__gutter-sizer {
  width: 0%;

  @media #{$o-grid-masonry__item\@medium} {
    width: 2%;
  }
}

.o-grid-masonry__item {
  float: left;
  margin-bottom: 2%;
}