.c-post {
  @include ms-respond(padding-bottom, 4);
}

.c-post__title {
  display: inline-block;
  @include ms-respond(font-size, 4);
  @include text-gradient(0deg, $alternate, $primary, #d6a2f8);
}

.c-post__image {
  vertical-align: middle;
}

.c-post__text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.c-post__paragraph {
  @include ms-respond(padding, 3);
}

.c-post__caption {
  padding: 0;
  margin: 0;
}

.c-post__quote {
  @include ms-respond(padding, 3);
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.c-post__highlight {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
}
