.c-about__title {
  max-width: 9em;
  @include ms-respond(font-size, 4);
  color: $primary;
  @include text-gradient(0deg, $alternate, $primary, #d6a2f8);
  // background: -webkit-linear-gradient(left, $alternate, $primary, #d6a2f8);
  // background-size: 1200px 200px;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // -webkit-animation-duration: 5s;
  //         animation-duration: 5s;
  // -webkit-animation-name: animate-gradient-text;
  //         animation-name: animate-gradient-text;
  // -webkit-animation-iteration-count: infinite;
  //         animation-iteration-count: infinite;
  // -webkit-animation-fill-mode: forwards;
  //         animation-fill-mode: forwards;
}

.c-about__text {
  @include ms-respond(padding, -5);
}

.c-about__image {
  @include ms-respond(padding-top, 3);

  @media #{$medium-up} {
    max-width: 65%;
  }
}

.c-framework__pdf {
  @media #{$small-only} {
    display: none;
  }
}

.c-framework__pdf-link {
  // margin-bottom: 3rem;
  @include ms-respond(margin-bottom, 5);
  display: block;
  text-align: center;
  // font-size: 1.5em;
  @include ms-respond(font-size, 4);

  @media #{$medium-up} {
    display: none;
  }
}
