/* https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html */
.u-sr-only {
  border:0 !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding:0 !important;
  position: absolute !important;
  overflow: hidden;
  width: 1px !important;
}

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */
.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}

.u-cf:after{
  clear: both;
}

.u-cf {
  *zoom: 1;
}