
// Converted Variables


// Custom Media Query Variables


/*

   LINKS

*/

$transition-time: 300ms;

.link,
.About a {
  color: $primary;
  text-decoration: none;
  transition: color $transition-time;
}

.link:hover, .link:active
.link.link-active,
.About a:hover, .About a:active {
  color: $alternate;
}
