
// Converted Variables


// Custom Media Query Variables


/*

   LINKS

*/

.link {
  color: $primary;
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link,
.link:visited {
  color: $primary;
  transition: color .15s ease-in;
}
.link:hover,
.link:active,
.link-active    {
  color: $alternate;
  transition: color .15s ease-in;
}

.link:focus   {
  background-color: $alternate !important;
  transition: color .15s ease-in, background-color .15s ease-in;
}

.underline             { text-decoration: underline; }
.underline-hover:hover { text-decoration: underline; }
