@mixin header-font {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  @include ms-respond(padding, -5);
}

// Takes a degree and two colors to make a text color gradient.
@mixin text-gradient ($degree, $color1, $color2) {
  color: $color1;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient($degree, $color1, $color2);
  background: -o-linear-gradient($degree, $color1, $color2);
  -webkit-background-clip: text;
}

@mixin transition ($props...) {
  -webkit-transition: $props;
  transition: $props;
}